.wrapper,
.header,
.footer {
  max-width: 100rem;
  margin: 0 auto;

  &--text {
    background: white;
    padding: 2rem;
    font-size: 1.7rem;
  }

  @media (max-width: 100rem) {
    padding: 0 2rem;    
  }
}


body {
  background: var(--bluegrad);
  border-top: 4px solid var(--orange1);
  min-height: calc(100vh - 16px);
}
